<nav class="navbar navbar-expand-lg navbar bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="{{ path('app_home') }}">Kibô Gamine Gakuen</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link a" href="{{ path('app_all_dangan') }}"
            >Tous les élèves 78</a
          >
        </li>

                <li class="nav-item">
          <a class="nav-link a" href="{{ path('app_all_dangan_deux') }}"
            >Tous les élèves 77</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link a" href="{{ path('app_contact') }}">Contact</a>
        </li>

        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle a"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if not app.user %}
            <li>
              <a class="dropdown-item" href="{{ path('app_login') }}"
                >Connexion</a
              >
            </li>
            {% else %}
            <li>
              <a class="dropdown-item" href="{{ path('app_logout') }}"
                >Deconnexion</a
              >
            </li>
            {% endif %}
            <li>
              <a class="dropdown-item" href="{{ path('app_dangan') }}"
                >Ajouter un élève 78</a
              >
            </li>

            <li>
              <a class="dropdown-item" href="{{ path('app_dangan_deux') }}"
                >Ajouter un élève 77</a
              >
            </li>

            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="{{ path('app_admin_all_dangan') }}"
                >Gérer les élèves</a
              >
            </li>

            <li>
              <a class="dropdown-item" href="{{ path('app_all_message') }}"
                >Messagerie</a
              >
            </li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
